.wraperdiv{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    height: 50px;
    transition: 0.5s linear;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 200px;
    list-style: none;
    font-size: 20px;
    color: white;
}
a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
}
.navbar{
    transition: 0.5s linear;

}

.burger{
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    transition: 0.75s;
}
.header{
    position: relative;
}
.burgerdiv{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
.none{
    opacity: 0;
    transition: 0.5s;
}
.div1{
    transform:translateY(7px) rotate(45deg) ;
}
.div3{
    transform:translateY(-7px) rotate(-45deg);
}

@media(max-width:600px){
    .burgerdiv{
        display: block;
    }
    .navbar{
        display: none;
    }
    .block{
        display: block;
    }
    .wraperdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:burlywood;
        height: auto;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 35px;
    }
    li{
        margin-top: 15px;
    }
}
.accordion{
    width: 500px;
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 5px;
    padding-left: 5px;
    position: relative;
    transition: 0.5s linear;
}

.description{
    height:0px;
    overflow: hidden;
    transition: 0.5s linear;
}
.accordion.active .description{
    height: 140px;
}
.accordion.active h4::before{
    content: '-';
    font-size: 30px;
}

h4::before{
    content: '+';
    top:30px;
    right: 20px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
}


